[submodule "WebRTC-iOS-Client/WebRTC-iOS-Client/Frameworks/WebRTC-iOS"]
	path = WebRTC-iOS-Client/WebRTC-iOS-Client/Frameworks/WebRTC-iOS
	url = https://github.com/wenxin3262/WebRTC-iOS
[submodule "govideo"]
	path = govideo
	url = https://github.com/adis300/govideo.git
