@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/light.eot');
	src: url('../fonts/proxima-nova/light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/light.woff') format('woff'),
	url('../fonts/proxima-nova/light.ttf') format('truetype'),
	url('../fonts/proxima-nova/light.svg#proxima_novalight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/regular.eot');
	src: url('../fonts/proxima-nova/regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/regular.woff') format('woff'),
	url('../fonts/proxima-nova/regular.ttf') format('truetype'),
	url('../fonts/proxima-nova/regular.svg#proxima_nova_rgregular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/regitalic.eot');
	src: url('../fonts/proxima-nova/regitalic.eot?#iefix') format('embedded-opentype'),
	url('../onts/proxima-nova/regitalic.woff') format('woff'),
	url('../fonts/proxima-nova/regitalic.ttf') format('truetype'),
	url('../fonts/proxima-nova/regitalic.svg#proxima_novaregular_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/bold.eot');
	src: url('../fonts/proxima-nova/bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/bold.woff') format('woff'),
	url('../fonts/proxima-nova/bold.ttf') format('truetype'),
	url('../fonts/proxima-nova/bold.svg#proxima_nova_rgbold') format('svg');
	font-weight: 900;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: #eeedea;
	font: 0.813em/1.5 'proxima-nova', Helvetica, sans-serif;
}

#wrapper {
	width: 25%;
	margin: 35vh auto;
	background: #ffffff;
	padding: 15px 15px 30px;
	text-align: center;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
}

h1{
	margin-bottom: .5em;
}

input[type="text"] {
	padding: 14px;
	margin-right: 5px;
	width: 60%;
	font-size: 1.25em;
	font-family: 'proxima-nova';
}

input[type="submit"] {
	text-transform: uppercase;
	font-weight: 900;
	color: #ffffff;
	background: #cc0000;
	margin-top: 10px;
	width: 25%;
	border: none;
	padding: 15px;
	font-size: 1.25em;
	font-family: 'proxima-nova';
}

input[type="submit"]:hover {
	background: #bb0000;
	cursor: pointer;
}
