@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/light.eot');
	src: url('../fonts/proxima-nova/light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/light.woff') format('woff'),
	url('../fonts/proxima-nova/light.ttf') format('truetype'),
	url('../fonts/proxima-nova/light.svg#proxima_novalight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/regular.eot');
	src: url('../fonts/proxima-nova/regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/regular.woff') format('woff'),
	url('../fonts/proxima-nova/regular.ttf') format('truetype'),
	url('../fonts/proxima-nova/regular.svg#proxima_nova_rgregular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/regitalic.eot');
	src: url('../fonts/proxima-nova/regitalic.eot?#iefix') format('embedded-opentype'),
	url('../onts/proxima-nova/regitalic.woff') format('woff'),
	url('../fonts/proxima-nova/regitalic.ttf') format('truetype'),
	url('../fonts/proxima-nova/regitalic.svg#proxima_novaregular_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../fonts/proxima-nova/bold.eot');
	src: url('../fonts/proxima-nova/bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima-nova/bold.woff') format('woff'),
	url('../fonts/proxima-nova/bold.ttf') format('truetype'),
	url('../fonts/proxima-nova/bold.svg#proxima_nova_rgbold') format('svg');
	font-weight: 900;
	font-style: normal;
}



* {
	padding: 0;
	margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font: 0.813em/1.5 'proxima-nova', Helvetica, sans-serif;
    background: #000000;
	overflow: hidden;
}
.videoContainer {
    position: absolute;
    width: 200px;
    top: 30px;
    left: 30px;
    z-index: 10;
    background: #ffffff;
    border-radius:4px;
    padding: 2px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.videoContainer video {
    width: 100%;
    height: 100%;
    z-index: 11;
    display: block;
    border-radius:4px;
}
.remoteVideoContainer{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
    position: relative;
}
.remoteVideoContainer video {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.control{
    z-index: 20;
    position: absolute;
    bottom: -18px;
    left: 40px;
}

.on {
	color: #00a3ff;
}

.off {
	color: black;
}

.error {
	color: red;
}

button {
	text-transform: uppercase;
	font-weight: 900;
	background: #f1f1f1;
	border: none;
	margin-right: 5px;
	padding: 10px 8px;
	width: 35px;
	height: 35px;
	font-size: 1.5em;
	font-family: 'proxima-nova';
	border-radius: 40px;
	-moz-border-radius: 20px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
	background: #ffffff;
	cursor: pointer;
}